.UploadBucket{
    .title{
        color: #000;
        margin-bottom: 50px;
    }
    .tagCon{
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    .btn{
        width: 60%;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
}